[Desktop Entry]
Version=2016.2
Type=Application
Name=WebStorm
Exec="/opt/PhpStorm/bin/phpstorm.sh" %U
Comment=Develop with pleasure!
Categories=Development;IDE;
Terminal=false
Icon=/opt/PhpStorm/bin/phpstorm.svg
StartupNotify=true
StartupWMClass=jetbrains-idea

